<div class="navbar bg-[#19181a] fixed z-[3050] text-lg py-8 sm:py-0 sm:text-lg">
    <div class="navbar-start">
      <div class="dropdown">
        <label tabindex="0" class="btn btn-ghost lg:hidden">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /></svg>
        </label>
        <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
          <li class="cursor-pointer" (click)="onSectionChange(1)" [ngClass]="{'text-[#b65ab0]' : section === 1}" >Inicio</li>
          <li class="cursor-pointer" (click)="onSectionChange(2)" [ngClass]="{'text-[#b65ab0]' : section === 2}" >Beneficios</li>
          <li class="cursor-pointer" (click)="onSectionChange(3)" [ngClass]="{'text-[#b65ab0]' : section === 3}" >Servicios</li>
          <li class="cursor-pointer" (click)="onSectionChange(4)" [ngClass]="{'text-[#b65ab0]' : section === 4}" >Preguntas Frecuentes</li>
          <li class="cursor-pointer" (click)="onSectionChange(5)" [ngClass]="{'text-[#b65ab0]' : section === 5}" >Redes</li>
        </ul>
      </div>
      <a class="btn btn-ghost normal-case text-xl">Alky Bank</a>
    </div>
    <div class="navbar-center hidden lg:flex">
      <ul class="menu menu-horizontal px-1">
        <li (click)="onSectionChange(1)" [ngClass]="{'border-b border-[#b65ab0]' : section === 1}" class="liDesktop">Inicio</li>
        <li (click)="onSectionChange(2)" [ngClass]="{'border-b border-[#b65ab0]' : section === 2}" class="liDesktop">Beneficios</li>
        <li (click)="onSectionChange(3)" [ngClass]="{'border-b border-[#b65ab0]' : section === 3}" class="liDesktop">Servicios</li>
        <li (click)="onSectionChange(4)" [ngClass]="{'border-b border-[#b65ab0]' : section === 4}" class="liDesktop">Preguntas Frecuentes</li>
        <li (click)="onSectionChange(5)" [ngClass]="{'border-b border-[#b65ab0]' : section === 5}" class="liDesktop">Redes</li>
      </ul>
    </div>
    <div class="navbar-end">
      <li routerLink="login" class="btn-xs cursor-pointer rounded-lg pb-6 sm:pb-0 btn-accent sm:btn sm:btn-accent mx-2">Iniciar Sesion</li>
      <li routerLink="register" class="btn-xs cursor-pointer btn-accent rounded-lg pb-6 sm:pb-0 sm:btn sm:btn-accent bg-[#b65ab0] border-[#80387b] sm:hover:bg-[#80387b] sm:hover:border-gray-50 sm:hover:text-gray-50 mx-2">Crear Cuenta</li>
    </div>
</div>
