<div class="navbar bg-[#19181a] fixed z-[20] text-lg py-8 sm:py-0 sm:text-lg">
    <div class="navbar-start">
      <div class="dropdown">
        <label tabindex="0" class="btn btn-ghost lg:hidden">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /></svg>
        </label>
        <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
          <li>Sobre Nosotros</li>
          <li>Beneficios</li>
          <li>Servicios</li>
          <li>Preguntas Frecuentes</li>
          <li>Redes</li>
        </ul>
      </div>
      <a class="btn btn-ghost normal-case text-xl">Alky Bank</a>
    </div>
    <div class="navbar-center hidden lg:flex">
      <ul class="menu menu-horizontal px-1">
        <li [ngClass]="{'border-b border-[#b65ab0]' : section === 1}" class="mx-0.5 lg:mx-1 p-2 cursor-pointer sm:hover:duration-300 sm:hover:border-b sm:hover:border-[#b65ab0]">Sobre Nosotros</li>
        <li [ngClass]="{'border-b border-[#b65ab0]' : section === 2}" class="mx-0.5 lg:mx-1 p-2 cursor-pointer sm:hover:duration-300 sm:hover:border-b sm:hover:border-[#b65ab0]">Beneficios</li>
        <li [ngClass]="{'border-b border-[#b65ab0]' : section === 3}" class="mx-0.5 lg:mx-1 p-2 cursor-pointer sm:hover:duration-300 sm:hover:border-b sm:hover:border-[#b65ab0]">Servicios</li>
        <li [ngClass]="{'border-b border-[#b65ab0]' : section === 4}" class="mx-0.5 lg:mx-1 p-2 cursor-pointer sm:hover:duration-300 sm:hover:border-b sm:hover:border-[#b65ab0]">Preguntas Frecuentes</li>
        <li [ngClass]="{'border-b border-[#b65ab0]' : section === 5}" class="mx-0.5 lg:mx-1 p-2 cursor-pointer sm:hover:duration-300 sm:hover:border-b sm:hover:border-[#b65ab0]">Redes</li>
      </ul>
    </div>
    <div class="navbar-end">
      <li class="btn">Iniciar Sesion</li>
      <li class="btn">Crear Cuenta</li>
    </div>
</div>
