<div class="collapse bg-gray-50/75 backdrop-blur-lg shadow-md rounded border border-gray-200 ring-2 ring-gray-900/[0.07] shadow-xl text-black rounded-box">
    <input type="checkbox"/> 
    <div class="collapse-title text-xl font-medium text-center">
        {{question}}
    </div>
    <div class="collapse-content max-w-fit"> 
        <p>Una wallet digital es una aplicación en línea que te permite almacenar y administrar tus fondos de manera segura. Funciona al vincularse con tu cuenta bancaria y permitiéndote realizar transacciones de manera rápida y fácil.</p>
    </div>
</div>
