<div class="collapse collapse-open border-y-2 border-gray-100 bg-gray-50/75 backdrop-blur-lg shadow-md rounded ring-2 ring-gray-900/[0.07] shadow-xl text-black rounded-box">
    <input type="checkbox"/> 
    <div class="flex space-x-3 collapse-title text-xl font-medium text-center text-[#b65ab0]">
        <img class="inline-block align-middle w-8 h-8" src="../../../../../assets/landing-images/QuestionFrecuent/image{{index}}.svg"/>
        <span class="text-center">{{question}}</span>
    </div>
    <div class="collapse-content max-w-fit"> 
        <p>{{description}}</p>
    </div>
</div>
