<div class="w-full flex justify-center flex-wrap sm:flex-nowrap xs:flex-row-reverse sm:flex-row">
    <div class="div_cards xs:w-full sm:w-3/6">
        <div class="flex flex-col justify-center text-gray-600 min-h-screen p-4">
            <div class="h-full flex flex-wrap w-full">
                <app-card  [feature]="'Eficiencia'" [title]="'Pagos en tiempo real'"
                [description]="'Realiza pagos y transferencias al instante, sin esperar días o horas de procesamiento.'"
                [svg]="cardSVG" ></app-card>
                <app-card [feature]="'Seguridad'" [title]="'Transacciones seguras'"
                [description]="'Nuestra tecnología avanzada de cifrado garantiza la seguridad de todas tus transacciones.'"></app-card>
            </div>
        </div>
    </div>
    <div class="xs:w-full sm:w-3/6 mr-24 h-fit">
        <h2 class="font-['ABeeZee'] font-bold text-4xl sm:text-6xl tracking-widest text-center text-white mt-1">Beneficios</h2>
        <div class="justify-center flex mt-1">
            <div class="w-3/6">
                <p class="text-white mb-4 sm:mb-0 text-center text-md font-light sm:text-xl">Puede llevar un control detallado de sus ingresos y gastos, almacenar de manera segura sus fondos y realizar pagos y transferencias con solo unos pocos clicks y desde nuestra app.</p>
            </div>
        </div>
    </div>
</div>