.bg-section2{
    background-image: linear-gradient(rgba(221, 152, 221, 0.596), rgba(207, 140, 191, 0.603)),
    url('./../../../../../assets/landing-images/beneficios2.jpg');
    background-size: 50% 100%;
    background-blend-mode: darken;
    background-repeat: no-repeat;

}