<div class="hidden md:flex flex-col">
    <div class="p-1 mb-2 self-center items-center shrink-0 rounded-lg h-28 w-28 overflow-hidden border-2 border-gray-50/75 w-full">
        <img class="w-full object-cover" src="https://images.unsplash.com/photo-1506794778202-cad84cf45f1d?crop=top&amp;cs=tinysrgb&amp;fit=crop&amp;fm=jpg&amp;h=100&amp;ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTY2Mjk2MTgwNw&amp;ixlib=rb-1.2.1&amp;q=80&amp;utm_campaign=api-credit&amp;utm_medium=referral&amp;utm_source=unsplash_source&amp;w=100" alt="Profile">
    </div>
    <h2 class="text-white text-center mt-4 font-bold text-[#FFDE38] text-lg">{{user.last_name}} {{user.first_name}}</h2>
    <p class="text-accent/50 italic text-center">{{user.email}}</p>
    <div class="flex flex-col w-3/5 border-l-2 pl-2 mt-3 border-accent">
        <p class="pb-4">User Points:</p>
        <p class="pb-4 font-bold text-[#FFDE38]">2370</p>
    </div>
</div>

