<div class="min-h-screen flex justify-center items-center flex-col">
  <div *ngFor="let item of dolares" class="mx-5 mt-5 p-8 rounded-lg bg-gray-300/75 text-black">
      {{item.casa.nombre}}
      <div class="flex flex-row justify-between">
          <div class="flex flex-col">
              <p>Compra: {{item.casa.compra}}</p>
              <p>Venta: {{item.casa.venta}}</p>
          </div>
          <div class="flex flex-col">
              <p>Compra: {{item.casa.compra}}</p>
              <p>Venta: {{item.casa.venta}}</p>
          </div>
  </div>

</div>