<div class="hero min-h-screen flex-col justify-center overflow-hidden bg-cloud-pink-login" [ngClass]="{'bg-cloud-pink-login-darkmode': darkmode$ | async}">
    <div class="hero-content flex space-x-32"> 

        <div class="hidden md:shrink md:flex md:justify-center md:max-lg:pl-16" style="height: 89%;">
            <img src="../../../../assets/home/Login.png" alt="">
        </div>

        <div class="card flex-shrink-0 w-full max-w-sm flex justify-center self-center xs:max-sm:pr-16 md:max-lg:pr-16 dark:ring-gray-900/50">

            <form [formGroup]="form" (ngSubmit)="onEnviar()">
                

                <!--======================Mail===================-->
                <div class="form-control">
                    <label class="label" for="email">
                        <span class="label-text text-black font-bold">Correo electrónico</span>
                    </label>

                    <input type="email" formControlName="email" 
                        class="input input-bordered text-black focus:border-accent" />
                </div>

                <div *ngIf="Mail?.errors && Mail?.touched">
                    <p *ngIf="Mail?.hasError('required')" class="text-error">
                        El correo electrónico es requerido.
                    </p>
                    <p *ngIf="Mail?.hasError('email')" class="text-error">
                        El formato del correo electrónico debe ser válido.
                    </p>
                </div>

                <!--======================Contraseña===================-->
                <div class="form-control">
                    <label for="password" class="form-label label">
                        <span class="label-text text-black font-bold">Contraseña</span>
                    </label>

                    <input type="password" formControlName="password"
                        class="input input-bordered text-black focus:border-accent" />
                </div>

                <div *ngIf="Password?.errors && Password?.touched">
                    <p *ngIf="Password?.hasError('required')" class="text-error">
                        La contraseña es requerida.
                    </p>
                    <p *ngIf="Password?.errors?.['minlength']" class="text-error">
                        La contraseña debe ser de 8 o más caracteres.
                    </p>
                </div>

                <div class="form-control mt-6">
                    <button type="submit" [disabled]="form.invalid" 
                    class="btn btn-accent text-white">
                    INICIAR SESIÓN</button>
                </div>

            </form>
            <!-- Este tag después pasa a ser un routerLink para que guíe al componente registro -->
            <a href="" class="flex justify-center text-black dark:text-white hover:text-accent">¿Has olvidado la contraseña?</a> 

            <div class="items-center border-x border-y border-base border-solid text-center my-5 mx-3"></div>

            <button routerLink="/registrarse" type="button" class="btn bg-[#b65ab0]/75 hover:bg-[#b65ab0] border-none text-white w-1/2 self-center ">Crear cuenta nueva</button>
       
        </div>

    </div>
</div>

