
<div class="dropdown dropdown-right">
  <label tabindex="0" class="px-2 py-1 uppercase text-xl font-['Kanit'] font-normal text-[#9F0A48]
    flex rounded-md w-fit shadow-3xl my-2 sm:hover:scale-[1.03] transition duration-300">
    Filtro
  </label>

  <div tabindex="0" class="dropdown-content card card-normal w-96 h-auto shadow bg-[#9F0A48] text-primary-content">
    <div class="card-body">
      <div [formGroup]="form">

        <h3 class="card-title  text-white">Filtrar</h3>
        
        <div class="form-control mb-2">
          
          <p class=" text-white mb-2">Filtrar por:</p>
          
          <select name="selectorInicial" class="select select-bordered w-full max-w-xs" 
          formControlName="selectorInicial" [(ngModel)]="valorBuscado">
          <option ></option>
          <option id="Payment">Payment</option>
          <option id="Topup">Topup</option>

          </select>
        </div>
        
      </div>
      
    </div>
  </div>
</div>


<div class="mb-5 px-0.5 py-0.5 bg-[#c2c9ce] shadow-xl rounded-lg">
  <table class="table-auto w-full border-separate text-sm md:text-lg">
    <thead class="text-neutral bg-[#749496] text-center">
      <tr  class="text-white font-semibold">
        <th class="hidden">ID</th>
        <th class="py-2 px-4">FECHA</th>
        <th class="py-2 px-4">CONCEPTO</th>
        <th class="py-2 px-4">TIPO</th>
        <th class="py-2 px-4">MONTO</th>
        <th class="py-2 px-4">EDITAR</th>
      </tr>
    </thead>
    <tbody class="text-neutral text-center">
      <tr *ngFor="let transaction of transaction | filtrarTabla: valorBuscado; index as i">
        <td class="hidden">{{ transaction.id }}</td>
        <td [class.bg-gray-100]="i % 2 === 0">{{ transaction.date | date : 'dd/MM/yyyy HH:MM'}}</td>
        <td [class.bg-gray-100]="i % 2 === 0">{{ transaction.concept | titlecase}}</td>
        <td [class.bg-gray-100]="i % 2 === 0">{{ transaction.type | titlecase}}</td>
        <td [class.bg-gray-100]="i % 2 === 0">{{ transaction.amount | currency }}</td>
        <td [class.bg-gray-100]="i % 2 === 0" class="btn-sm cursor-pointer sm:hover:bg-accent/25"
        (click)="openEditModal(transaction.id)">Editar</td>
      </tr>
    </tbody>
  </table>
</div>

<label [ngClass]="{'modal-open' : openEdit,  '' : !openEdit}" for="my-modal-4" class="modal cursor-pointer">
  <label class="modal-box relative dark:bg-[#19181A]" for="">
    <app-modal-gastos [id$]="getIdObservable()" (closeModal)="openEdit = !$event"></app-modal-gastos>
  </label>
</label>
