<!-- Layout del drawer -->
<div class="drawer">
  <input id="my-drawer" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content">

    <!-- Contenido de la página -->
    <div class="flex flex-row">

        <!-- mobile sidebar -->
        <div class="flex h-24 absolute z-[400] md:hidden w-full bg-[#19181A] items-center flex-wrap">
          <div class="w-full flex justify-between items-center">
            <label class="btn-accent btn-circle swap swap-rotate mx-2">
              <input (change)="switchMobile()" [formControl]="checkboxMobile" type="checkbox"/>

              <svg class="swap-off fill-current" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 512 512"><path d="M64,384H448V341.33H64Zm0-106.67H448V234.67H64ZM64,128v42.67H448V128Z"/></svg>
              <svg class="swap-on fill-current" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 512 512"><polygon points="400 145.49 366.51 112 256 222.51 145.49 112 112 145.49 222.51 256 112 366.51 145.49 400 256 289.49 366.51 400 400 366.51 289.49 256 400 145.49"/></svg>
            </label>
            <!-- DARKMODE MOBILE-->

            <img class="mt-2 mx-2 w-20 h-20" src="../../../../assets/images/AlkyBank_logo4.png" alt="logo"/>
          </div>
          <div class="w-full">
            <div class="collapse" [ngClass]="{'collapse-open' : openMobileMenu , 'collapse-close' : !openMobileMenu}">
              <div class="collapse-content bg-[#19181A] text-primary-content peer-checked:bg-secondary peer-checked:text-secondary-content"> 
                <div class="text-white flex flex-wrap items-center font-semibold select-none">
                  <ng-container *ngFor="let mobiLink of navMobileLinks">
                    <div class="w-3/6 my-2">
                      <div class="w-5/6 border-b-2 border-accent/25 cursor-pointer my-0.5" [routerLinkActive]="'text-accent border-[#f06ab0]'" [routerLinkActiveOptions]="{ exact: true }" [routerLink]="mobiLink.link">
                        {{mobiLink.name}}
                      </div>
                      <!-- <hr class="border-b border-accent/25 w-5/6"> -->
                    </div>
                  </ng-container>
                  <div class="w-full">
                    <div class="flex items-center h-fit mx-auto">
                      <label class="swap swap-rotate fill-black">
                        <input [formControl]="checkboxControl" type="checkbox" (change)="switchDarkMode()"/>
                        <svg class="swap-on fill-current w-8 h-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M5.64,17l-.71.71a1,1,0,0,0,0,1.41,1,1,0,0,0,1.41,0l.71-.71A1,1,0,0,0,5.64,17ZM5,12a1,1,0,0,0-1-1H3a1,1,0,0,0,0,2H4A1,1,0,0,0,5,12Zm7-7a1,1,0,0,0,1-1V3a1,1,0,0,0-2,0V4A1,1,0,0,0,12,5ZM5.64,7.05a1,1,0,0,0,.7.29,1,1,0,0,0,.71-.29,1,1,0,0,0,0-1.41l-.71-.71A1,1,0,0,0,4.93,6.34Zm12,.29a1,1,0,0,0,.7-.29l.71-.71a1,1,0,1,0-1.41-1.41L17,5.64a1,1,0,0,0,0,1.41A1,1,0,0,0,17.66,7.34ZM21,11H20a1,1,0,0,0,0,2h1a1,1,0,0,0,0-2Zm-9,8a1,1,0,0,0-1,1v1a1,1,0,0,0,2,0V20A1,1,0,0,0,12,19ZM18.36,17A1,1,0,0,0,17,18.36l.71.71a1,1,0,0,0,1.41,0,1,1,0,0,0,0-1.41ZM12,6.5A5.5,5.5,0,1,0,17.5,12,5.51,5.51,0,0,0,12,6.5Zm0,9A3.5,3.5,0,1,1,15.5,12,3.5,3.5,0,0,1,12,15.5Z"/></svg>
                        <svg class="swap-off fill-current w-8 h-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M21.64,13a1,1,0,0,0-1.05-.14,8.05,8.05,0,0,1-3.37.73A8.15,8.15,0,0,1,9.08,5.49a8.59,8.59,0,0,1,.25-2A1,1,0,0,0,8,2.36,10.14,10.14,0,1,0,22,14.05,1,1,0,0,0,21.64,13Zm-9.5,6.69A8.14,8.14,0,0,1,7.08,5.22v.27A10.15,10.15,0,0,0,17.22,15.63a9.79,9.79,0,0,0,2.1-.22A8.11,8.11,0,0,1,12.14,19.73Z"/></svg>
                      </label>
                  </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


<!-- Sidebar estática -->
        <div class="sm:bg-[#f2f2f2] dark:md:bg-[#19181A] md:bg-[#111827] sm:w-40 md:w-20 shrink-0 z-[300]">


          <!-- desktop sidebar -->
          <div class="hidden w-20 md:fixed md:flex flex-col h-full items-center">
              <label for="my-drawer" class="w-24 h-24 mt-2 ml-10 md:ml-0 md:mt-0 md:w-12  md:h-12  absolute top-0 md:static sm:flex btn btn-circle btn-neutral drawer-button">
                <svg class="swap-off fill-current" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 512 512">
                <path d="M64,384H448V341.33H64Zm0-106.67H448V234.67H64ZM64,128v42.67H448V128Z"/></svg>
              </label>
            <hr class="bg-gray-50/75 my-2 w-full mx-1 rounded">
            <app-nav-static-link class="my-3" *ngFor="let navLink of navLinks"
            [navStaticLink]="navLink"></app-nav-static-link>

            <div class="h-full flex justify-end items-end">
              <div class="tooltip tooltip-top flex" data-tip="DarkMode">
                <span class="border h-fit w-fit border-accent dark:border-accent/75 px-1 pt-[1.8px] rounded-full mb-8">
                  <label class="swap swap-rotate fill-black">
                    <!-- this hidden checkbox controls the state -->
                    <input [formControl]="checkboxControl" type="checkbox" (change)="switchDarkMode()"/>
                    <!-- sun icon -->
                    <svg class="swap-on fill-current w-10 h-10" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M5.64,17l-.71.71a1,1,0,0,0,0,1.41,1,1,0,0,0,1.41,0l.71-.71A1,1,0,0,0,5.64,17ZM5,12a1,1,0,0,0-1-1H3a1,1,0,0,0,0,2H4A1,1,0,0,0,5,12Zm7-7a1,1,0,0,0,1-1V3a1,1,0,0,0-2,0V4A1,1,0,0,0,12,5ZM5.64,7.05a1,1,0,0,0,.7.29,1,1,0,0,0,.71-.29,1,1,0,0,0,0-1.41l-.71-.71A1,1,0,0,0,4.93,6.34Zm12,.29a1,1,0,0,0,.7-.29l.71-.71a1,1,0,1,0-1.41-1.41L17,5.64a1,1,0,0,0,0,1.41A1,1,0,0,0,17.66,7.34ZM21,11H20a1,1,0,0,0,0,2h1a1,1,0,0,0,0-2Zm-9,8a1,1,0,0,0-1,1v1a1,1,0,0,0,2,0V20A1,1,0,0,0,12,19ZM18.36,17A1,1,0,0,0,17,18.36l.71.71a1,1,0,0,0,1.41,0,1,1,0,0,0,0-1.41ZM12,6.5A5.5,5.5,0,1,0,17.5,12,5.51,5.51,0,0,0,12,6.5Zm0,9A3.5,3.5,0,1,1,15.5,12,3.5,3.5,0,0,1,12,15.5Z"/></svg>
                    <!-- moon icon -->
                    <svg class="swap-off fill-current w-10 h-10" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M21.64,13a1,1,0,0,0-1.05-.14,8.05,8.05,0,0,1-3.37.73A8.15,8.15,0,0,1,9.08,5.49a8.59,8.59,0,0,1,.25-2A1,1,0,0,0,8,2.36,10.14,10.14,0,1,0,22,14.05,1,1,0,0,0,21.64,13Zm-9.5,6.69A8.14,8.14,0,0,1,7.08,5.22v.27A10.15,10.15,0,0,0,17.22,15.63a9.79,9.79,0,0,0,2.1-.22A8.11,8.11,0,0,1,12.14,19.73Z"/></svg>
                    
                  </label>
                </span>
              </div>
            </div>
              

            <!-- //TODO: HACER SECCION DE CONTACTOS(HARDCODEADA) -->
              <!-- <img class="w-10 h-10" src="../../../../assets/images/contacts.png" alt="contactos"> -->
              

          </div>
        </div>

        <!-- Contenido principal -->
        <div class="w-full dark:bg-stone-800">
          <router-outlet> </router-outlet>
          <app-footer></app-footer>
        </div>
        
    </div>
    <!--  -->
  </div>

  <!-- Drawer -->
  <div class="drawer-side sm:text-5xl md:text-xl">
    <label for="my-drawer" class="drawer-overlay"></label>
    <div class="flex flex-col menu p-4 sm:w-2/3 md:w-80 bg-neutral text-base-content justify-between">
      <!-- Drawer content here -->
      <div class="h-60 md:h-20 flex flex-row border-2 border-accent rounded-lg justify-evenly items-center flex-wrap">
        <img class="w-20 h-20 md:w-14 md:h-14 rounded-full" src="https://daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg"/>
        <div class="flex flex-col w-3/5 border-l-2 px-3 border-accent items-center">
          <p class="pb-4">usuario</p>
          <p class="pb-4">ver perfil ➡</p>
        </div>
        <ul class="flex flex-col w-full">
          <li *ngFor="let navMobile of navMobileLinks" class="mb-2 p-1 border-[#c262bb] border rounded mx-4" [routerLink]="'/'+navMobile.link">
            {{navMobile.name}}
          </li>
        </ul>
      </div>
      <div class="p-4 border-t-2 border-accent">
        <p class="pb-4">Ajustes</p>
        <button class="pb-4" (click)="onLogout()">Cerrar sesión</button>
      </div>
    </div>
  </div>
</div>