<div class="flex min-h-screen bg-gray-50 dark:bg-stone-800 flex-col justify-center">

  <div class="w-full flex justify-center">
    <div class="card w-96 bg-[#f2f2f2] shadow-xl text-primary-content">
      <div class="card-body">
        <h2 class="card-title">Inversiones</h2>
        <label>Cantidad a invertir</label>
          <input type="number" id="inversionInicial" placeholder="Ingrese cantidad" 
              min="0"
              data-type="currency" required class="input 
                input-bordered input-secondary w-full max-w-xs" 
                (input)="agregarInversionInicial($event)">
        <label>Plazo</label>
          <select type="date" id="fecha" placeholder="" required (change)="plazoSeleccionado($event)" 
              class="input input-bordered input-secondary w-full max-w-xs">
            <option value="" disabled selected>Seleccionar plazo</option>
            <option value="30">30 días</option>
            <option value="60">60 días</option>
            <option value="90">90 días</option>
            <option value="120">120 días</option> 
            <option value="150">150 días</option>
          </select> 
        <label>Fecha de finalización</label>
          <label class="textarea textarea-bordered textarea-success w-full 
            max-w-xs text-[#97a2a8]">
            {{ calcularFechaFinal() }}</label>
        <label>Ganancia Mensual Estimada:</label>
        <label class="textarea textarea-bordered textarea-success w-full 
          max-w-xs text-[#97a2a8]">
          {{ calcularGanancia() | currency }}</label>
        <label>Total</label>
        <label class="textarea textarea-bordered textarea-success w-full 
          max-w-xs text-[#97a2a8]">
          {{ calcularTotal() | currency  }}</label>
        <br>
        <div class="card-actions justify-center">
          <button class="btn border-transparent text-white 
            bg-[#b3bec5]">Cancelar</button>
          <button (click)="onInvertirButton()" class="btn border-transparent text-white 
            bg-[#e785e3]">Invertir</button>
        </div>
      </div>
    </div>
  </div>
  
  <app-plazofijo-chart [amountInversion]="inversionBehavior"></app-plazofijo-chart>

</div>