<div class="flex bg-[#f2f2f2] dark:bg-stone-800 flex-col items-center min-h-screen">
  <div class="w-full flex mt-28 md:mt-0">
    <div  class="card w-full bg-[#f2f2f2] mb-2 text-primary-content dark:bg-stone-800">
      <div class="card-body place-items-center">
        
      <div class="container_form sm:mx-auto w-full sm:max-w-md px-6 pt-10 py-8 sm:rounded-xl sm:pr-10 sm:pl-16 flex justify-center" [ngClass]="{'bg-stone-700': darkmode$ | async}">
        <div [formGroup]="form" (ngSubmit)="simularClick()" class="w-96 mb-8">

          <div class="form-control my-2">
            <h2 class="card-title dark:text-white">Inversiones</h2>
          </div>

          <div class="form-control mb-2">
            <label class="dark:text-white">Cantidad a invertir</label>
            <input type="number" formControlName="inversionInicial" placeholder="Ingrese cantidad" min="1"
              data-type="currency" required class="peer input-style w-full max-w-xs bg-white">
          </div>

          <div class="form-control mb-3">
            <label class="dark:text-white font-semibold mb-1">Plazo en Días</label>
            <select type="date" formControlName="plazo" placeholder="Elegir plazo en días" required
              class="peer input-style w-full max-w-xs bg-white">
              <option value="" disabled selected>Seleccionar plazo</option>
              <option value="30">30 días</option>
              <option value="60">60 días</option>
              <option value="90">90 días</option>
              <option value="120">120 días</option>
              <option value="150">150 días</option>
            </select>
          </div>

          <div class="form-control mb-2">
            <label class="dark:text-white font-semibold mb-1">Fecha de finalización</label>
            <label class="peer input-style bg-white w-full h-8
              max-w-xs text-[#97a2a8]"> <!-- textarea textarea-bordered textarea-success w-full  -->
              {{ calcularFechaFinal() }}</label>
            <br>
          </div>

          <div class="card-actions items-center">
            <div class="grid grid-cols-2 my-1">
              <div class="form-control w-36 ml-2">
                <button type="reset" class="btn border-transparent text-white 
                  bg-[#939ca1]" (click)="cancelarClick()">Cancelar</button>
              </div>
              <div class="form-control w-36 ml-2">
                <button type="submit" class="btn border-transparent text-white 
                  bg-accent" [disabled]="form.invalid" (click)="simularClick()">Simular</button>
              </div>
            </div>
          </div>


        </div>

        <ng-container *ngIf="visible">
          <div class="w-full ">
            <div class="grid grid-cols-4 my-5 justify-items-center items-center">
              <div>
                <label class="font-semibold">Ganancia Mensual Estimada: </label>
                <label class="w-full max-w-xs text-stone-700 text-center">
                  {{ calcularGanancia() | currency }}</label>
                <br>
              </div>

              <div>
                <label class="font-semibold">Total: </label>
                <label class="w-full max-w-xs text-stone-700 text-center">
                  {{ calcularTotal() | currency }}</label>
                <br>
              </div>
              <div class="">
                <button (click)="clickProyectar()" class="btn border-transparent text-white 
                bg-accent">Proyectar</button>
              </div>
              <div class="">
                <button (click)="clickInvertir()" class="btn border-transparent text-white 
                bg-accent">Invertir</button>
              </div>
            </div>

            <app-plazofijo-chart [amountInversion]="inversionBehavior"></app-plazofijo-chart>

          </div>

        </ng-container>

      </div>
    </div>
  </div>
</div>