<div class="flex flex-col">
    
    <div class="py-10 flex flex-row justify-evenly">
        <h1 class="font-['Exo'] text-4xl text-[#b65ab0] font-extrabold">Tipo de Cambio</h1>
    </div>

    
    <div class="stats text-primary-content bg-gradient-to-b from-[#b65ab0] to-[#EAA3E4] mx-10 neumorphism">
    
        <div  class="stat px-10 flex flex-row justify-evenly items-center">
            <div class="stat-value text-white">Dólar Oficial</div>
            <div class="py-4 px-4 text-3xl text-white"> 
                <p class="font-bold">Compra:</p> 
                <p class="font-extrabold text-[#19181a]">{{buyOficialUsdPrice|currency}}</p>
            </div>
            <div class="py-1 text-3xl text-white">
                <p class="font-bold">Venta:</p>
                <p class="font-extrabold text-[#19181a]" >{{saleOficialUsdPrice|currency}}</p>
            </div>
        </div>

        <div  class="stat border-l-4 border-white px-10 flex flex-row justify-evenly items-center">
            <div class="stat-value text-white">Dólar Blue</div>
            <div class="py-4 px-4 text-3xl text-white"> 
                <p class="font-bold">Compra:</p> 
                <p class="font-extrabold text-[#19181a]">{{buyBlueUsdPrice|currency}}</p>
            </div>
            <div class="py-1 text-3xl text-white">
                <p class="font-bold">Venta:</p>
                <p class="font-extrabold text-[#19181a]">{{saleBlueUsdPrice|currency}}</p>
            </div>
        </div>
        
    </div>
    <div>
        <p class=" flex float-right mt-2 mb-1 mr-14">
            Última actualización: {{ficticeUpdateTime | date:'dd/MM/yyyy HH:mm' }}
        </p>
    </div>

</div>



