<div class="stats text-primary-content justify-center bg-success">
  
    <div *ngFor="let item of dolares" class="stat border-l-4 border-white px-10 flex justify center items-center">
      <div class="stat-value text-white">{{item.casa.nombre}}</div>
      <div class="stat-title py-4 px-4 text-3xl font-extrabold text-black"> <p>Compra:</p> ${{item.casa.compra}}</div>
      <div class="stat-title py-1 text-3xl font-extrabold text-black">
        <p>Venta:</p> ${{item.casa.venta}}</div>
    </div>
    
</div>

