<div class="flex flex-col justify-center antialiased text-gray-600 min-h-screen pb-4 px4 mt-16 sm:mt-0 sm:-translate-y-24">
    <div class="h-full">
        <div class="max-w-5xl mx-auto">
            <h2 data-aos="fade" data-aos-once="true" class="text-4xl tracking-widest text-gray-800 font-bold text-center mb-4">Servicios</h2>
            <div class="grid grid-cols-12 gap-6">
                <app-tab  data-aos="fade-up" data-aos-duration="1000" data-aos-once="true" class="relative col-span-full mx-8 sm:mx-0 md:col-span-4" [title]="'Cambio de Divisas'" [features]="featuresTab1" [description]="descTab1"></app-tab>
                <app-tab  data-aos="fade-up" data-aos-duration="1500" data-aos-once="true" class="relative col-span-full mx-8 sm:mx-0 md:col-span-4" [title]="'Plazo Fijos'" [features]="featuresTab2" [description]="descTab2"></app-tab>
                <app-tab  data-aos="fade-up" data-aos-duration="2000" data-aos-once="true" class="relative col-span-full mx-8 sm:mx-0 md:col-span-4" [title]="'Transferencias'" [features]="featuresTab3" [description]="descTab3"></app-tab>
            </div>
        </div>
    </div>
</div>