<div class="flex flex-col justify-center antialiased text-gray-600 min-h-screen pb-4 px4 -translate-y-24">
    <div class="h-full">
        <!-- Pricing -->
        <div class="max-w-5xl mx-auto">
            <h2 class="text-4xl tracking-widest text-gray-800 font-bold text-center mb-4">Servicios</h2>
            <!-- Pricing tabs -->
            <div class="grid grid-cols-12 gap-6">
                <app-tab [title]="'Cambio de Divisas'" [description]="descTab1"></app-tab>
                <!-- Tab 1 -->
                <!-- Tab 2 -->
                <div class="relative col-span-full md:col-span-4 bg-gray-50/75 backdrop-blur-lg	 shadow-md rounded border border-gray-200 ring-2 ring-gray-900/[0.07] shadow-xl">
                    <div class="absolute top-0 left-0 right-0 h-0.5 bg-[#b65ab0] rounded" aria-hidden="true"></div>
                    <div class="px-5 pt-5 pb-6 border-b border-gray-200">
                        <header class="flex items-center mb-2">
                            <div class="w-6 h-6 rounded-full flex-shrink-0 bg-gradient-to-tr from-blue-500 to-blue-300 mr-3">
                                <svg class="w-6 h-6 fill-current text-white" viewBox="0 0 24 24">
                                    <path d="M12 17a.833.833 0 01-.833-.833 3.333 3.333 0 00-3.334-3.334.833.833 0 110-1.666 3.333 3.333 0 003.334-3.334.833.833 0 111.666 0 3.333 3.333 0 003.334 3.334.833.833 0 110 1.666 3.333 3.333 0 00-3.334 3.334c0 .46-.373.833-.833.833z" />
                                </svg>
                            </div>
                            <h3 class="text-lg text-gray-800 font-semibold">Plazo Fijos</h3>
                        </header>
                        <div class="text-sm mb-2 h-44">Con nuestra wallet digital, también puedes invertir en plazos fijos de manera segura y sencilla. Puedes elegir entre diversas opciones de plazo y tasa de interés para que encuentres la inversión que mejor se adapte a tus necesidades. Además, podrás monitorear tu inversión en tiempo real desde la comodidad de tu wallet.</div>
                    </div>
                    <div class="px-5 pt-4 pb-5">
                        <div class="text-xs text-gray-800 font-semibold uppercase mb-4">Caracteristicas:</div>
                        <!-- List -->
                        <ul>
                            <li class="flex items-center py-1">
                                <svg class="w-3 h-3 flex-shrink-0 fill-current text-green-500 mr-2" viewBox="0 0 12 12">
                                    <path d="M10.28 1.28L3.989 7.575 1.695 5.28A1 1 0 00.28 6.695l3 3a1 1 0 001.414 0l7-7A1 1 0 0010.28 1.28z" />
                                </svg>
                                <div class="text-sm">Rentabilidad garantizada</div>
                            </li>
                            <li class="flex items-center py-1">
                                <svg class="w-3 h-3 flex-shrink-0 fill-current text-green-500 mr-2" viewBox="0 0 12 12">
                                    <path d="M10.28 1.28L3.989 7.575 1.695 5.28A1 1 0 00.28 6.695l3 3a1 1 0 001.414 0l7-7A1 1 0 0010.28 1.28z" />
                                </svg>
                                <div class="text-sm">Seguridad de inversión</div>
                            </li>
                            <li class="flex items-center py-1">
                                <svg class="w-3 h-3 flex-shrink-0 fill-current text-green-500 mr-2" viewBox="0 0 12 12">
                                    <path d="M10.28 1.28L3.989 7.575 1.695 5.28A1 1 0 00.28 6.695l3 3a1 1 0 001.414 0l7-7A1 1 0 0010.28 1.28z" />
                                </svg>
                                <div class="text-sm">Flexibilidad en plazos de inversión</div>
                            </li>
                            <li class="flex items-center py-1">
                                <svg class="w-3 h-3 flex-shrink-0 fill-current text-green-500 mr-2" viewBox="0 0 12 12">
                                    <path d="M10.28 1.28L3.989 7.575 1.695 5.28A1 1 0 00.28 6.695l3 3a1 1 0 001.414 0l7-7A1 1 0 0010.28 1.28z" />
                                </svg>
                                <div class="text-sm">Opciones personalizadas</div>
                            </li>
                            <li class="flex items-center py-1">
                                <svg class="w-3 h-3 flex-shrink-0 fill-current text-green-500 mr-2" viewBox="0 0 12 12">
                                    <path d="M10.28 1.28L3.989 7.575 1.695 5.28A1 1 0 00.28 6.695l3 3a1 1 0 001.414 0l7-7A1 1 0 0010.28 1.28z" />
                                </svg>
                                <div class="text-sm">Monitoreo constante</div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Tab 3 -->
                <div class="relative col-span-full md:col-span-4 bg-gray-50/75 backdrop-blur-lg	 shadow-md rounded border border-gray-200 ring-2 ring-gray-900/[0.07] shadow-xl">
                    <div class="absolute top-0 left-0 right-0 h-0.5 bg-[#b65ab0] rounded" aria-hidden="true"></div>
                    <div class="px-5 pt-5 pb-6 border-b border-gray-200">
                        <header class="flex items-center mb-2">
                            <div class="w-6 h-6 rounded-full flex-shrink-0 bg-gradient-to-tr from-indigo-500 to-indigo-300 mr-3">
                                <svg class="w-6 h-6 fill-current text-white" viewBox="0 0 24 24">
                                    <path d="M12 17a.833.833 0 01-.833-.833 3.333 3.333 0 00-3.334-3.334.833.833 0 110-1.666 3.333 3.333 0 003.334-3.334.833.833 0 111.666 0 3.333 3.333 0 003.334 3.334.833.833 0 110 1.666 3.333 3.333 0 00-3.334 3.334c0 .46-.373.833-.833.833z" />
                                </svg>
                            </div>
                            <h3 class="text-lg text-gray-800 font-semibold">Transacciones Ilimitadas</h3>
                        </header>
                        <div class="text-sm mb-2 h-44">Nuestra wallet digital te ofrece transacciones ilimitadas para que puedas enviar y recibir dinero sin restricciones. Ya sea para hacer compras, pagos o enviar dinero a tus seres queridos, podrás hacerlo de manera rápida y segura desde nuestra wallet. Además, nuestro sistema de seguridad de última generación garantiza la protección de tus transacciones en todo momento.</div>
                    </div>
                    <div class="px-5 pt-4 pb-5">
                        <div class="text-xs text-gray-800 font-semibold uppercase mb-4">Caracteristicas:</div>
                        <!-- List -->
                        <ul>
                            <li class="flex items-center py-1">
                                <svg class="w-3 h-3 flex-shrink-0 fill-current text-green-500 mr-2" viewBox="0 0 12 12">
                                    <path d="M10.28 1.28L3.989 7.575 1.695 5.28A1 1 0 00.28 6.695l3 3a1 1 0 001.414 0l7-7A1 1 0 0010.28 1.28z" />
                                </svg>
                                <div class="text-sm">En cualquier momento y lugar</div>
                            </li>
                            <li class="flex items-center py-1">
                                <svg class="w-3 h-3 flex-shrink-0 fill-current text-green-500 mr-2" viewBox="0 0 12 12">
                                    <path d="M10.28 1.28L3.989 7.575 1.695 5.28A1 1 0 00.28 6.695l3 3a1 1 0 001.414 0l7-7A1 1 0 0010.28 1.28z" />
                                </svg>
                                <div class="text-sm">Con cualquier divisa</div>
                            </li>
                            <li class="flex items-center py-1">
                                <svg class="w-3 h-3 flex-shrink-0 fill-current text-green-500 mr-2" viewBox="0 0 12 12">
                                    <path d="M10.28 1.28L3.989 7.575 1.695 5.28A1 1 0 00.28 6.695l3 3a1 1 0 001.414 0l7-7A1 1 0 0010.28 1.28z" />
                                </svg>
                                <div class="text-sm">Sin límite de transacciones</div>
                            </li>
                            <li class="flex items-center py-1">
                                <svg class="w-3 h-3 flex-shrink-0 fill-current text-green-500 mr-2" viewBox="0 0 12 12">
                                    <path d="M10.28 1.28L3.989 7.575 1.695 5.28A1 1 0 00.28 6.695l3 3a1 1 0 001.414 0l7-7A1 1 0 0010.28 1.28z" />
                                </svg>
                                <div class="text-sm">Sin costos adicionales</div>
                            </li>
                            <li class="flex items-center py-1">
                                <svg class="w-3 h-3 flex-shrink-0 fill-current text-green-500 mr-2" viewBox="0 0 12 12">
                                    <path d="M10.28 1.28L3.989 7.575 1.695 5.28A1 1 0 00.28 6.695l3 3a1 1 0 001.414 0l7-7A1 1 0 0010.28 1.28z" />
                                </svg>
                                <div class="text-sm">Interfaz intuitiva y fácil de usar</div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>