<div class="flex items-center justify-center h-screen">
  <div>
    <h3
      class="md:text-4xl text-[#b65ab0] tracking-widest font-bold text-center m-8"
    >
      La página que buscas no está disponible
    </h3>
    <div class="flex justify-center item-center mx-20">
      <img src="../../../assets/images/404.jpg" alt="Error 404" />
    </div>
    <h4
      class="md:text-2xl text-[#b65ab0] tracking-widest font-bold text-center m-8"
    >
      Puedes iniciar <a class="md:text-4xl" href="/login">sesión</a> o
      <a class="md:text-4xl" href="/register">registrarte</a>
    </h4>
  </div>
</div>
