<div class="flex dark:bg-stone-800 bg-[#f2f2f2] justify-center min-h-screen">
  <div class="w-full mt-36 md:mt-0">
    <div class="card">
      <div class="card-body mx-auto max-w-md place-items-center text-stone-800">
        <div [formGroup]="form" class="w-96 mb-10">
          
          <div class="form-control mb-5">
            <h2 class="card-title">Prestamos</h2>
          </div>
          
          <div class="form-control my-2">
            <label>Cantidad a Solicitar</label>
            <input type="number" formControlName="cantidadSolicitada" placeholder="Ingrese cantidad" 
                data-type="currency" class="input input-bordered input-secondary w-full max-w-xs" 
                 required>
          </div>
          
          <div class="form-control my-2">
            <label>Plazo en meses</label>
            <select type="date" formControlName="plazo" placeholder="Seleccionar plazo" 
                class="input input-bordered input-secondary w-full max-w-xs" required>
              <option value="" disabled selected>Seleccionar plazo</option>
              <option value="6">6 meses</option>
              <option value="12">12 meses</option>
              <option value="18">18 meses</option>
              <option value="24">24 meses</option> 
              <option value="36">36 meses</option> 
              <option value="48">48 meses</option> 
              <option value="60">60 meses</option> 
            </select> 
          </div>
          <br>
  
          <div class="card-actions items-center">
            <div class="form-control w-36 mx-2">
              <button class="btn border-transparent text-white 
                bg-[#939ca1]" (click)="cancelarClick()">Cancelar</button>
            </div>
            <div class="form-control w-36 mx-2">
              <button id="botonSimular" [disabled]="form.invalid" (click)="simularClick()" 
              class="btn border-transparent text-white bg-accent">Simular</button>
            </div>
          </div>
        </div>
      </div>
        
      
      <ng-container *ngIf="visible">
        <div id="elementosCalculados" class="card  text-stone-800">
          <div class="card-body">
            <label class="font-semibold text-stone-800">Fecha de finalización:</label> 
            
            <label class="w-44 h-6 text-stone-800">
            {{ calcularFechaFinal() }}</label>
                
            <label class="font-semibold">Cuota Fija sin IVA: </label>
            
            <label class="w-44 h-6 text-stone-800">
            {{ calcularCuotaFija() | currency }}</label>
    
            <label class="font-semibold">Total a devolver: </label>
            
            <label class="w-44 h-6 text-stone-800">
            {{ calcularTotal() | currency }}</label>  
    
          </div>    
    
          <div class="mb-5 px-0.5 py-0.5 bg-[#c2c9ce] shadow-xl rounded-lg">
            <table class="table-auto w-full border-separate text-sm md:text-lg">
              <thead class="text-neutral bg-[#749496] text-center">
                <tr  class="text-white font-semibold">
                  <th class="py-2 px-4">Nro Cuota</th>
                  <th class="py-2 px-4">Saldo</th>
                  <th class="py-2 px-4">Interes</th>
                  <th class="py-2 px-4">Capital</th>
                  <th class="py-2 px-4">Interes con IVA</th>
                  <th class="py-2 px-4">Cuota Final Mensual</th>
                </tr>
              </thead>
              <tbody class="text-neutral text-center">
                <tr *ngFor="let info of infoPrestamo; index as i">
                  <td >{{ info.nroCuota }}</td>
                  <td >{{ info.saldo }}</td>
                  <td >{{ info.montoInteres}}</td>
                  <td >{{ info.capital }}</td>
                  <td >{{ info.montoInteresConIva }}</td>
                  <td >{{ info.cuotaFinal }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          
        </div>
      </ng-container>
    </div>
    
  </div>
  
  
</div>
