<div class="min-h-screen flex justify-around flex-wrap">
    <div class="w-3/12 mx-4 h-64 max-h-fit">
        <div class="collapse border bg-[#19181a] ring-1 ring-gray-900/[0.03] text-[#b65ab0] rounded-box">
            <input type="checkbox"/> 
            <div class="collapse-title text-xl font-medium text-center">
                ¿Qué es una wallet digital y cómo funciona?
            </div>
            <div class="collapse-content max-w-fit"> 
                <p>Una wallet digital es una aplicación en línea que te permite almacenar y administrar tus fondos de manera segura. Funciona al vincularse con tu cuenta bancaria y permitiéndote realizar transacciones de manera rápida y fácil.</p>
            </div>
        </div>
    </div>
    <div class="w-3/12 mx-4 h-64 max-h-fit">
        <div class="collapse border bg-[#19181a] ring-1 ring-gray-900/[0.03] text-[#b65ab0] rounded-box">
            <input type="checkbox"/> 
            <div class="collapse-title text-xl font-medium text-center">
                ¿Es seguro guardar mis fondos?
            </div>
            <div class="collapse-content max-w-fit"> 
                <p>Sí, las wallets digitales utilizan tecnologías de encriptación avanzadas para garantizar la seguridad de tus fondos y información personal. Además, cuentan con protecciones adicionales como autenticación de dos factores para prevenir fraudes.</p>
            </div>
        </div>
    </div>
    <div class="w-3/12 mx-4 h-64 max-h-fit">
        <div class="collapse border bg-[#19181a] ring-1 ring-gray-900/[0.03] text-[#b65ab0] rounded-box">
            <input type="checkbox"/> 
            <div class="collapse-title text-xl font-medium text-center">
                ¿Cómo puedo registrarme?
            </div>
            <div class="collapse-content max-w-fit"> 
                <p>Simplemente siga los pasos en nuestra página web y proporcione los detalles requeridos, como nombre, dirección de correo electrónico y información bancaria. Luego de completar la verificación de identidad, estarás listo para comenzar a utilizar tu wallet digital.</p>
            </div>
        </div>
    </div>
    <div class="w-3/12 mx-4 h-64 max-h-fit">
        <div class="collapse border bg-[#19181a] ring-1 ring-gray-900/[0.03] text-[#b65ab0] rounded-box">
            <input type="checkbox"/> 
            <div class="collapse-title text-xl font-medium text-center">
                ¿Cómo agregar fondos a mi wallet digital?
            </div>
            <div class="collapse-content max-w-fit"> 
                <p>Puedes agregar fondos a tu wallet digital conectándola a tu cuenta bancaria o mediante una transferencia directa desde otra wallet. También puedes utilizar tarjetas de crédito y débito para recargar tu saldo.</p>
            </div>
        </div>
    </div>
    <div class="w-3/12 mx-4 h-64 max-h-fit mb-0">
        <div class="collapse border bg-[#19181a] ring-1 ring-gray-900/[0.03] text-[#b65ab0] rounded-box">
            <input type="checkbox"/> 
            <div class="collapse-title text-xl font-medium text-center">
                ¿Qué pasa si pierdo mi dispositivo o tengo problemas con mi cuenta?
            </div>
            <div class="collapse-content max-w-fit"> 
                <p>En caso de pérdida de dispositivo o problemas con tu cuenta, por favor contáctanos inmediatamente. Te guiaremos en el proceso para recuperar tus fondos y proteger tu información personal.</p>
            </div>
        </div>
    </div>
    <div class="w-3/12 mx-4 h-64 max-h-fit">
        <div class="collapse border bg-[#19181a] ring-1 ring-gray-900/[0.03] text-[#b65ab0] rounded-box">
            <input type="checkbox"/> 
            <div class="collapse-title text-xl font-medium text-center">
                ¿Puedo hacer compras en línea con mi wallet digital?
            </div>
            <div class="collapse-content max-w-fit"> 
                <p>Sí, puedes hacer compras en línea y en tiendas físicas con tu wallet digital utilizando la tarjeta virtual asociada a tu cuenta. También puedes enviar y recibir fondos de manera fácil a través de nuestra aplicación.</p>
            </div>
        </div>
    </div>
</div>

