<div class="flex min-h-screen flex-col justify-center overflow-hidden bg-gray-50 dark:bg-stone-800">
    <div class="relative container_form sm:mx-auto w-full sm:max-w-md bg-white px-6 pt-10 pb-8 shadow-xl ring-1 ring-gray-900/5 sm:rounded-xl sm:px-10 dark:bg-stone-700"> <!-- dark:bg-[#e5e7eb] -->
        <div class="w-full">
            <div class="text-center">
                <h1 class="text-xl font-bold sm:text-3xl sm:font-semibold text-gray-900 dark:text-white">{{titleForm}}</h1>
                <ng-container *ngIf="!(operationTypeEqualToNew())">
                    <p class="mt-2 text-gray-500">Id de la transaccion...</p>
                </ng-container>
            </div>
            <div class="mt-5">
                <form (ngSubmit)="onSubmitForm()" [formGroup]="transactionForm" id="form">
                    <ng-container *ngIf="operationTypeEqualToNew()">
                        <div class="flex h-16 flex-col">
                            <div class="relative  mt-6">
                                <input 
                                [ngClass]="{'invalid-input':(transactionForm.controls['transactionDate'].invalid && transactionForm.controls['transactionDate'].touched),
                                'valid-or-untouched-input': (transactionForm.controls['transactionDate'].valid || transactionForm.controls['transactionDate'].untouched)}"
                                formControlName="transactionDate" type="date" name="transactionDate" id="transactionDate"
                                    class="input-style select-none dark:bg-[#e5e7eb]"/>
                                <label for="transactionDate"
                                [ngClass]="{ 'text-red-800' : touchedAndInvalid('transactionDate'), 'valid-label': !touchedAndInvalid('transactionDate')}"
                                    class="label-style pb-1">Fecha de transaccion</label>
                            </div>
                            <ng-container class="w-full min-h-max"
                            *ngIf="touchedAndHasError('transactionDate', 'required');">
                                <span class="text-red-500 text-xs">Este campo es requerido.</span>
                            </ng-container>
                        </div>
                        <ng-container *ngIf="transactionTypeEqualToPayment()">
                            <div class="flex h-16 flex-col">
                                <div class="relative mt-6">
                                    <input formControlName="toAccountID" type="number" name="toAccountID" id="toAccountID" placeholder="ID de la cuenta destino"
                                    [ngClass]="{'invalid-input': touchedAndInvalid('toAccountID'),
                                        'valid-or-untouched-input': !touchedAndInvalid('toAccountID')}"
                                        class="peer input-style dark:bg-[#e5e7eb]" autocomplete="NA" />
                                    <label for="toAccountID"
                                    [ngClass]="{'invalid-label': touchedAndInvalid('toAccountID'),
                                        'valid-label': !touchedAndInvalid('toAccountID')}"
                                        class="label-style">ID de la cuenta destino</label>
                                </div>
                                <ng-container class="w-full min-h-max"
                                *ngIf="touchedAndHasError('toAccountID', 'required');
                                else second_transaction_toAccountID">
                                    <span class="text-red-500 text-xs">Este campo es requerido.</span>
                                </ng-container>
                                <ng-template #second_transaction_toAccountID>
                                    <ng-container class="w-full min-h-max"
                                    *ngIf="touchedAndHasError('toAccountID', 'min')">
                                        <span class="text-red-500 text-xs">El ID debe ser mayor a 0</span>
                                    </ng-container>
                                </ng-template>
                            </div>
                        </ng-container>
                        <div class="flex h-16 flex-col">
                            <div class="relative mt-6">
                                <input formControlName="amount" type="number" name="amount" id="amount" placeholder="Importe de la Operacion"
                                [ngClass]="{'invalid-input': touchedAndInvalid('amount'),
                                'valid-or-untouched-input': !touchedAndInvalid('amount')}"
                                    class="peer input-style dark:bg-[#e5e7eb]" autocomplete="NA" />
                                    <!--TODO: input value="{{amount | number :'1.2-2' | currency }}" -->
                                <label for="amount"
                                [ngClass]="{'invalid-label': touchedAndInvalid('amount'),
                                'valid-label': !touchedAndInvalid('amount')}"
                                    class="label-style">Importe de la operacion</label>
                            </div>
                            <ng-container class="w-full min-h-max"
                            *ngIf="touchedAndHasError('amount', 'required');
                            else second_transaction_amount">
                                <span class="text-red-500 text-xs">Este campo es requerido.</span>
                            </ng-container>
                            <ng-template #second_transaction_amount>
                                <ng-container class="w-full min-h-max"
                                *ngIf="touchedAndHasError('amount', 'min')">
                                    <span class="text-red-500 text-xs">El monto debe ser mayor a 0</span>
                                </ng-container>
                            </ng-template>
                        </div>
                    </ng-container>
                    <!-- Concept (En todos los casos) -->
                    <div class="flex h-16 flex-col">
                        <div class="relative mt-6">
                            <input formControlName="concept"
                            [ngClass]="{'invalid-input': touchedAndInvalid('concept'),
                            'valid-or-untouched-input': !touchedAndInvalid('concept')}"
                            type="text" name="concept" id="concept" placeholder="Descripcion"
                                class="peer peer input-style dark:bg-[#e5e7eb]"/>
                            <label for="concept" 
                            [ngClass]="{'invalid-label': touchedAndInvalid('concept'),
                            'valid-label': !touchedAndInvalid('concept')}"
                            class="label-style">Descripcion / Concepto</label>
                        </div>
                        <ng-container class="w-full min-h-max"
                        *ngIf="touchedAndHasError('concept', 'required');
                        else second_transaction_amount">
                            <span class="text-red-500 text-xs">Este campo es requerido.</span>
                        </ng-container>
                        <ng-template #second_transaction_amount>
                            <ng-container class="w-full min-h-max"
                            *ngIf="touchedAndHasError('concept', 'minlength'); else third_transaction_amount">
                                <span class="text-red-500 text-xs">El concepto/descripcion debe contener al menos 8 caracteres</span>
                            </ng-container>
                        </ng-template>
                        <ng-template #third_transaction_amount>
                            <ng-container class="w-full min-h-max"
                            *ngIf="touchedAndHasError('concept', 'maxlength')">
                                <span class="text-red-500 text-xs">El concepto/descripcion debe tener un maximo de 35 caracteres</span>
                            </ng-container>
                        </ng-template>
                    </div>
                    <div class="mt-2 mb-4">
                        <button class="btn w-full mt-4 btn-accent normal-case text-base text-gray-200" id="submitButton" name="submitButton" [disabled]="transactionForm.invalid">{{buttonText}}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>