<div class="relative flex h-screen justify-center items-center">

    <div class="flex justify-center flex-col items-center">
        <div class="flex flex-col">
            <div class="text-5xl font-bold italic text-white md:text-7xl ml-4">ALKY BANK</div>
            <div class="bg-white px-6 text-5xl font-bold text-black mix-blend-screen md:text-8xl -skew-x-[15deg]">E-WALLET</div>
        </div>
    </div>

    <!-- <div class="absolute max-w-ful top-1/2 left-[40%]">
        <div class="flex justify-center items-center w-full">
            
        </div>
    </div>

    <div class="absolute top-1/2 left-10 max-w-full md:left-20">

    </div> -->
</div>

