<div class="flex w-full justify-center">
  <!--app-title></app-title>-->
  <h3
    class="font-[Kanit] text-xl md:text-4xl absolute translate-y-8 lg:translate-y-16 font-semibold -skew-y-2"
  >
    Renovar contraseña
  </h3>
</div>
<div class="hero">
  <div class="hero-content flex flex-col lg:flex-row space-x-32 justify-center">
    <div
      class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-primary neumorphism"
    >
      <div class="card-body">
        <form [formGroup]="formulario" (ngSubmit)="resetPassword($event)">
          <div class="form-control h-28">
            <label class="label" for="email">
              <span class="label-text text-white font-bold"
                >Correo electrónico</span
              >
            </label>

            <input
              type="email"
              formControlName="email"
              [class.is-invalid]="emailNoValido"
              class="input input-bordered"
            />

            <div class="min-h-max" *ngIf="emailNoValido">
              <p *ngIf="emailNoValido" class="text-error">
                El correo electrónico es requerido.
              </p>
            </div>
          </div>

          <div class="form-control h-28">
            <label for="password" class="form-label label">
              <span class="label-text text-white font-bold">Contraseña</span>
            </label>

            <input
              type="password"
              formControlName="password"
              [class.is-invalid]="passwordNoValido"
              class="input input-bordered"
            />

            <div class="min-h-max">
              <p *ngIf="passwordNoValido" class="text-error">
                La contraseña es requerida con un minimo de 8 caracteres
              </p>
            </div>
          </div>
          <div class="form-control h-28">
            <label for="password" class="form-label label">
              <span class="label-text text-white font-bold"
                >Repetir Contraseña</span
              >
            </label>
            <input
              type="password"
              formControlName="password2"
              [class.is-invalid]="emailNoValido"
              class="input input-bordered"
            />

            <div class="min-h-max">
              <p *ngIf="password2NoValido" class="text-error">
                La contraseña es requerida con un minimo de 8 caracteres
              </p>
            </div>
          </div>
          <div class="form-control mt-6">
            <button
              type="submit"
              [disabled]="formulario.invalid"
              class="btn bg-success border-success text-white"
            >
              Crear nueva contraseña
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
