<!--ERROR-->
<div class="fixed top-0 right-0 h-screen w-screen mb-30 z-50 flex justify-center flex-col items-center">
    <div class="{{alert.bg}} text-center py-4 lg:px-4 fixed top-0 min-w-[80%] sm:min-w-[40%] mt-36 rounded">
        <label for="my-modal-3" class="btn btn-sm btn-circle absolute right-2 top-2" (click)="onCloseAlert()">✕</label>
        <div class="p-2 {{alert.bg}} items-center {{alert.text}} leading-none lg:rounded-full flex lg:inline-flex" role="alert">
            <span class="flex rounded-full {{alert.bg}} uppercase px-2 py-1 text-xs font-bold mr-3">
                <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" attr.d="{{alert.d_line}}" stroke-width="2"  /></svg>
            </span>
            <span class="font-semibold mr-2 text-left flex-auto">
                {{msg}}
            </span>
        </div>

    </div>
</div>