<div class="dark:bg-stone-800  hero min-h-screen flex-col justify-center overflow-hidden bg-cloud-register" [ngClass]="{'bg-cloud-register-darkmode': darkmode$ | async}">  
        <div class="hero-content flex space-x-32">
            
            <div class="hidden mr-16 md:shrink md:flex md:justify-center">
                <img src="../../../../assets/home/AlkyBank_registro_2.png" alt="">
            </div>

            <div class="card flex justify-center w-full max-w-sm shadow-2xl bg-gray-600 dark:bg-ring-gray-900/50 neumorphism ml-16 mt-36 sm:my-16">
                <div class="card-body">
            
                    <form [formGroup]="form" (ngSubmit)="onEnviar()">
                        
                        <!-- ======================Primer nombre=================== -->
                        <div class="form-control h-24">
                            <label class="label" for="nombre">
                                <span class="label-text text-white font-bold">Nombre</span>
                            </label>
            
                            <input type="text" formControlName="nombre" class="input input-bordered text-black focus:border-white" />
                        </div>
            
                        <!-- ====================== Apellido =================== -->
                        <div class="form-control h-24">
                            <label class="label" for="apellido">
                                <span class="label-text text-white font-bold">Apellido</span>
                            </label>
            
                            <input type="text" formControlName="apellido" class="input input-bordered text-black focus:border-[#BC94AF]" />
                        </div>
                        
                        <!-- ======================Mail=================== -->
                        <div class="form-control h-28">
                            <label class="label" for="email">
                                <span class="label-text text-white font-bold">Correo electrónico</span>
                            </label>
            
                            <input type="email" formControlName="email" class="input input-bordered text-black focus:border-[#BC94AF]" />
            
                            <div class="min-h-max" *ngIf="Mail?.errors && Mail?.touched">
                                <p *ngIf="Mail?.hasError('required')" class="text-error">
                                    El correo electrónico es requerido.
                                </p>
                                <p *ngIf="Mail?.hasError('email')" class="text-error">
                                    El formato del correo electrónico debe ser válido.
                                </p>
                            </div>
                        </div>
            
                        <!-- ====================== Fecha de nacimiento =================== -->
                        <div class="form-control h-28">
                            <label class="label" for="birthdate">
                                <span class="label-text text-white font-bold">Fecha de nacimiento</span>
                            </label>
            
                            <input type="date" formControlName="bornDate" class="input input-bordered text-black focus:border-[#BC94AF]" />
            
                           <ng-container *ngIf="Birthdate?.hasError('required') && Birthdate?.touched; else second_condition_bornDate">
                                <p  class="text-error">
                                    El correo electrónico es requerido.
                                </p>  
                           </ng-container>
                           <ng-template #second_condition_bornDate>
                                <ng-container *ngIf="Birthdate?.errors && Birthdate?.touched">
                                    <p  class="text-error">
                                        Debe ser mayor de 18 años para registrarse en nuestra aplicación.
                                    </p> 
                                </ng-container>
                           </ng-template>
                        </div>                    
            
                        <!-- ======================Contraseña=================== -->
                        <div class="form-control h-28">
                            <label for="password" class="form-label label">
                                <span class="label-text text-white font-bold">Contraseña</span>
                            </label>
            
                            <input type="password" formControlName="password" [class.border-danger]="MailValid"
                                class="input input-bordered text-black focus:border-[#BC94AF]" />
                            <div class="min-h-max" *ngIf="Password?.errors && Password?.touched">
                                <p *ngIf="Password?.hasError('required')" class="text-error">
                                    La contraseña es requerida.
                                </p>
                                <p *ngIf="Password?.errors?.['minlength']" class="text-error">
                                    La contraseña debe ser de 8 o más caracteres.
                                </p>
                            </div>
                        </div>
            
                        <!-- ======================Confirmar contraseña=================== -->
                        <div class="form-control h-28">
                            <label for="password" class="form-label label">
                                <span class="label-text text-white font-bold">Confirmar contraseña</span>
                            </label>
            
                            <input type="password" formControlName="confirmPassword" 
                                class="input input-bordered text-black focus:border-[#BC94AF]" />
            
                            
            
                            <ng-container *ngIf="ConfirmPassword?.errors?.['minlength'];
                            else second_condition_confirmPassword">
                                <span class="text-red-500 text-xs">La contraseña debe tener al menos 8 caracteres.</span>
                            </ng-container>
                            <ng-template #second_condition_confirmPassword>
                                <ng-container class="w-full min-h-max"
                                 *ngIf="ConfirmPassword?.touched && ConfirmPassword?.hasError('passwordMismatch');
                                 else third_condition_confirmPassword">
                                <span class="text-red-500 text-xs">Las contraseñas deben coincidir.</span>
                                </ng-container> 
                            </ng-template>
                            <ng-template #third_condition_confirmPassword>
                                <ng-container class="w-full min-h-max"
                                *ngIf="ConfirmPassword?.hasError('required') && ConfirmPassword?.touched">
                                    <span class="text-red-500 text-xs">Este campo es requerido.</span>
                                </ng-container>
                            </ng-template>
                        </div>
            
                        <!-- ====================== Botones =================== -->
                        <div>
                            <label class="label cursor-pointer w-fit mt-2">
                                <div class="flex flex-col h-8">
                                    <div>
                                        <input type="checkbox" formControlName="conditionsTerms"
                                        class="checkbox checkbox-white" />
                                        <label class="label-text ml-2">Acepto los <a class="z-20 link link-black" (click)="onOpenModal()">terminos y condiciones</a>.</label>
                                    </div>
                                    <ng-container *ngIf="ConditionsTermsInvalid" class="w-full min-h-max">
                                        <span class="text-red-500 text-xs">Debes aceptar los terminos y condiciones para continuar.</span>
                                    </ng-container>
                                </div>
                            </label>
                        </div>
            
                        <div class="form-control mt-6">
                            <button type="submit" [disabled]="form.invalid" 
                            class="btn bg-[#BC94AF] border-[#BC94AF] text-white">
                            Crear cuenta nueva</button>
                        </div>
            
                    </form>
            </div>

        </div>   

<app-modal [modalInfo]="modalInfo"></app-modal>



